
    // Principale
    $blanc-principal : #f0f0f0;
    $blanc-secondaire : #E9FFF9;
    $gris-fond: #5D707F;

    // Utilitaire Couleurs
    $fond-primaire: #E9FFF9;
    $bourdure-primaire: #9ed8db31;
    $fond-box: #e9fff950;
    $border-box: #9ed8db31;

    // Textes
    $txt-bleu: #000000;